.content-div {
    padding : 20px 0px 0px 0px;
}

.divider {
    margin : 20px 0px 20px 0px;
}

.valid-div {
    display: none;
    /* display: inline; */
}

.settings-colorinput {
    padding : 0px 0px 0px 0px;
}

.settings-slider {
    padding : 10px 0px 0px 0px;
}

.search_button {
    margin : 10px 0px 20px 0px;
}

.export-button {
    margin : 25px 5px 13px 0px;
}

.graph-components {
    padding : 5px 0px 10px 0px;
}

.summary-table {
    margin: 10px 0px 10px 0px;
}

.plot {
    height : 350px;
    margin : 10px 0px 20px 0px;
}

.select-dash {
    padding : 10px 0px 10px 0px;
}